body{
    background: -moz-linear-gradient(red, blue);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}
.texto1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin-top: 200px;
    background: linear-gradient(pink, rgb(81, 19, 81) );
    color: transparent;
    background-clip: text;
}